/*

David Friberg:
Tweaks to code formatting theme.

Original that we intend to override here:
https://github.com/highlightjs/highlight.js/blob/master/src/styles/atom-one-dark.css

*/

/* - Change base color of Atom One Dark to from #282c34 #2d303b to
     match the background of the Redlounge theme.
   - Add border to code blocks.
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  margin-bottom: -0.5em;
  margin-top: -0.5em;
  color: #abb2bf;
  border: 2px solid black;
  background: #2d303b; /* #282c34; */
  /* background: #2d303b; /\* #282c34; *\/ */
}

/* blockquote { border-left: 1px dotted #f03838; margin: 40px 0; padding: 5px 30px; } */
/* blockquote p { color: #aeadad; display: block; font-style: italic; margin: 0; width: 100%; } */

details summary {
    padding-left: 1em;
    border: 2px solid black;
    /* background-color: #F0F0F0; */
    font-style: bold;

    border-left: .25em solid;
    margin: 1em;
    margin-bottom: 1.0em;
    padding: 0 1em;

    border-radius: 6px;
    border-left-width: 6px;
    border-left-style: solid;
    /* border-bottom-width: 1px; */
    /* border-bottom-style: dashed; */
    /* border-right: 6px solid transparent; */
    /* border-right-width: 6px; */
    /* border-right-style: solid; */
    /* border-right-color: rgba(0, 0, 0, 0) transparent; */
    background-color: #e6ffe6; /* #e6e6ff; */ 
}

/* use nicer block quotes */
blockquote {
  border-left: .25em solid;
  margin: 1em;
  margin-bottom: 1..6em;
  margin-top: 0;
  padding: 0 1em;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.75em;

  /* max-width: 40em; */
  border-radius: 6px;
  border-left-width: 6px;
  border-left-style: solid;
  /* border-bottom-width: 1px; */
  /* border-bottom-style: dashed; */
  border-right: 6px solid transparent;
  border-right-width: 6px;
  border-right-style: solid;
  border-right-color: rgba(0, 0, 0, 0) transparent;
  background-color: #F0F0F0;

  cite {
    font-weight: bold;
    font-style: normal;

    &::before {
      content: "—— ";
    }
  }
}

/* blockquote, .important, .warning { */
/*   padding: .8889rem; */
/*   margin-top: 1.4em; */
/*   margin-left: 0px; */
/*   margin-right: 0px; */
/*   border-radius: 6px; */
/*   border-left-width: 6px; */
/*   border-left-style: solid; */
/*   border-right: 6px solid transparent; */
/*   border-right-width: 6px; */
/*   border-right-style: solid; */
/*   border-right-color: rgba(0, 0, 0, 0) transparent; */
/*   color: #7a7a7a; } */
/* blockquote { */
/*   background-color: lightgray; */
/*   border-left-color: #2d303b; } */
/* Not as nice */
/* blockquote { */
/* 		border-left: solid 4px rgba(160, 160, 160, 0.3); */
/* 		font-style: italic; */
/* 		margin: 0 0 2em 0; */
/* 		padding: 0.5em 0 0.5em 2em; */
/* 	} */

/* code, pre-code { */
/*     border: 10px solid black; */
/*     background: gray; */
/* } */

/* .highlight { */
/*     position: relative; */
/*     margin: 1em 0; */
/*     border-radius: 2px; */
/*     line-height: 1.1em; */
/*     background-color: #f8f8f8; */
/*     overflow-x: auto */
/* } */

/* .highlight .code pre { */
/*     padding: 1.2em 1.4em; */
/*     line-height: 1.5em; */
/*     margin: 0 */
/* } */

/* .highlight .code pre .line { */
/*     width: auto; */
/*     height: 18px */
/* } */

/* .highlight.cpp .code:after { */
/*     content: "CPP" */
/* } */

.post p {
	margin-bottom: 1.6em;
	margin-top: 0;
}

p.post-meta {
    margin-bottom: 0;
    margin-top: 0;
}

.post h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.post h3.post-subtitle {
    margin-bottom: 0;
    margin-top: 0;
}

.read-more-link {
    margin-top: -1.1rem;
}

.tags-list {
    margin-bottom: -0.75rem;
}

ul {
  margin-bottom: 1.6em;
  margin-top: 0;
}

h2 {
  margin-bottom: 0.5em;
}

/* h3 { */
/*   margin-bottom: 0; */
/* } */

h4 {
  margin-bottom: 0;
}

pre,code {
  margin-bottom: 1.6em;
  margin-top: 0;
}

code {
  color: #318ad5;
  background-color: #F0F0F0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 0.75em;
  line-height: 1.5em;
}

.post-category {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: black;
    background: #F0F0F0;
    font-size: 0.75rem;
}

a.post-category:hover {
	color: black;
	text-decoration: underline;
}
